md-dialog.info(aira-lable="{{title}}")
    .info-wrapper
        sk-icon(icon="close-dialog", size-class="icon-size-36x36", style="position: absolute; right: -18px; top: -18px; cursor: pointer;", ng-click="cancel($event)")
        .info-text
            span {{text}}
        .info-logo
            sk-icon(icon="close-dialog", size-class="icon-size-36x36",ng-click="cancel($event)")
