md-dialog.id-wallet-info(aira-label="{{viewTags.offer}}")
    .id-wallet-info-wrapper
        sk-icon(icon="close-dialog", size-class="icon-size-36x36", ng-click="cancel($event)")
        .container
            .header
                span <img ng-src="{{viewTags.logo}}"> {{viewTags.offer}} (Exchange)
            .info-section
                .text
                    p Create a new account with {{viewTags.offer}}
                    p {{viewTags.required}}
                    p {{viewTags.address}}
                    md-input-container.pr-40.sk-input-box.no-error-spacer.sk-field-error-tooltip-parent
                        input(type="password", name="password", ng-style="{ 'display' : (viewTags.password) ? 'block' : 'none' }")
            .buttons-section
                md-button(ng-click="joinOffer()" ng-class="[{'button-300': dialogInfo.step == 2}]")
                    span Create Account
