form.birth-date-content(layout="column", name="birthDateForm")
    md-input-container.sk-input-box.sk-input-non-floating
        label Birth Date(YYYY/MM/DD)
        input(name="birthDate", type="date", ng-model="birthDate")
